<div class="d-flex justify-content-center">

<div class="d-flex flex-column">
    <h1>Import Invites</h2>
    <a class="btn btn-outline-secondary my-2 disabled" aria-disabled="true">
        <i class="fa fa-plus"></i>
        Create New Invites
    </a>
    <a class="btn btn-outline-secondary my-2" href="{{checkPrefix "/events/import/"}}{{id}}">
        <i class="fa fa-download"></i>
        Import From Passport
    </a>
    <a class="btn btn-outline-secondary my-2" href="{{checkPrefix "/events/view/"}}{{id}}">
        Go to Event
    </a>
</a>
</div>
</div>