<div class="row">
    <div class="col-3">
        <div class="card" >
            <img src="{{campaign.[ImageUrl]}}"  class="card-img-top" alt="{{campaign.Title}}" />
        </div>
    </div>
    <div class="col">
        <h1>{{campaign.Title}}</h1>
        <p>{{{compileMarkdown campaign.Description}}}</p>
    </div>
</div>