<div>
    <h1>Log Into App</h1>

    {{!-- <h2>Auth Token Id: {{authTokenId}}</h2> --}}
    <p>Please use Wallet or Passport to scan this URL in order to Log In.</p>
    <img src="{{qrUrl}}" style="height: 400px;" />

    
</div>

{{#section 'script'}}

<script type="application/javascript">
    initloginPage({ id:'{{authTokenId}}' });
</script>

{{/section}}