<div class="row">
    <div class="col-3">
        <div class="card" >
            <img src="{{organization.[ImageUrl]}}"  class="card-img-top" alt="{{organization.Name}}" />
        </div>
    </div>
    <div class="col">
        <h1>{{organization.Name}}</h1>
        <p>{{{compileMarkdown organization.Description}}}</p>
    </div>
</div>