<html>
	<head>
		<title>Purple People Eaters</title>
	</head>
	<body>
		<ul>
			{{#each people }}
				<li class="person-entry">
					{{ name }} - {{ age }}
				</li>
			{{/each}}
		</ul>
		<a href="/people/add">Add person</a>
	</body>
</html>