<ul>
	{{#each people }}
		<li class="person-entry">
			{{ name }} - {{ age }} <a href="/people/remove/{{@index}}"><i class="fa fa-trash"></i> X</a>
		</li>
	{{/each}}
</ul>
<a href="/people/add">Add person</a>
	